openapi: 3.1.0
info:
  title: Red Hat Security Data Advisories CVEs API
  description: The Red Hat Security Data API provides public access to Red Hat's security advisory and CVE data. It enables operators to query CVEs affecting RHEL products, retrieve CVSS scores, list security advisories (RHSA), bug fix advisories (RHBA), and enhancement advisories (RHEA), and obtain OVAL XML data for vulnerability scanning integration. No authentication is required for public data access.
  version: '1.0'
  contact:
    name: Red Hat Security
    url: https://access.redhat.com/security/
  termsOfService: https://www.redhat.com/en/about/agreements
servers:
- url: https://access.redhat.com/labs/securitydataapi
  description: Red Hat Security Data API
tags:
- name: CVEs
  description: Common Vulnerabilities and Exposures data for Red Hat products
paths:
  /cve.json:
    get:
      operationId: listCves
      summary: List CVEs
      description: Returns a list of CVEs affecting Red Hat products. Supports filtering by product, package, CVSS score range, severity, and date range. Results are paginated.
      tags:
      - CVEs
      parameters:
      - name: before
        in: query
        description: Filter CVEs published before this date (YYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: after
        in: query
        description: Filter CVEs published after this date (YYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: ids_only
        in: query
        description: Return only CVE IDs instead of full objects
        schema:
          type: boolean
          default: false
      - name: bug
        in: query
        description: Filter by associated Bugzilla bug ID
        schema:
          type: string
      - name: advisory
        in: query
        description: Filter by associated security advisory ID
        schema:
          type: string
      - name: severity
        in: query
        description: Filter by severity level
        schema:
          type: string
          enum:
          - critical
          - important
          - moderate
          - low
      - name: package
        in: query
        description: Filter by affected package name
        schema:
          type: string
      - name: product
        in: query
        description: Filter by affected product name
        schema:
          type: string
      - name: cvss_score
        in: query
        description: Minimum CVSS score
        schema:
          type: number
      - name: cvss3_score
        in: query
        description: Minimum CVSS v3 score
        schema:
          type: number
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: List of CVEs returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CveSummary'
  /cve/{CVE}.json:
    get:
      operationId: getCve
      summary: Get CVE Details
      description: Returns detailed information about a specific CVE including description, CVSS scores, affected packages, associated advisories, and remediation information for Red Hat products.
      tags:
      - CVEs
      parameters:
      - name: CVE
        in: path
        required: true
        description: The CVE identifier (e.g., CVE-2024-12345)
        schema:
          type: string
          pattern: ^CVE-\d{4}-\d+$
      responses:
        '200':
          description: CVE details returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CveDetail'
        '404':
          description: CVE not found
components:
  schemas:
    CveSummary:
      type: object
      properties:
        CVE:
          type: string
          description: CVE identifier
        severity:
          type: string
          enum:
          - Critical
          - Important
          - Moderate
          - Low
        public_date:
          type: string
          format: date-time
        bugzilla:
          type: string
          description: Associated Bugzilla URL
        cvss_score:
          type: number
          description: CVSS v2 score
        cvss3_score:
          type: number
          description: CVSS v3 score
        cwe:
          type: string
          description: CWE identifier
    CveDetail:
      allOf:
      - $ref: '#/components/schemas/CveSummary'
      - type: object
        properties:
          bugzilla_description:
            type: string
          details:
            type: array
            items:
              type: string
          acknowledgement:
            type: string
          affected_release:
            type: array
            items:
              type: object
              properties:
                product_name:
                  type: string
                release_date:
                  type: string
                advisory:
                  type: string
                package:
                  type: string
                cpe:
                  type: string
externalDocs:
  description: Red Hat Security Data API Documentation
  url: https://access.redhat.com/documentation/en-us/red_hat_security_data_api/1.0
